<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/search.css">
    <title>Search</title>
</head>

<body>
    <div>
        <header id="header">
            <nav id="menusearch">
                <div class="appname">
                    <div class="appname-centered">
                        <h1 id="dynamic-text">Culture</h1>
                    </div>
                </div>
                <img class="img" id="search" src="../Images/Search.png"/>
                <ul>
                    <li>
                        <a href="homescreen.html">Home</a>
                    </li>
                    <li>
                        <a href="chatscreen.html">Chat</a>
                    </li>
                    <li>
                        <a href="searchscreen.html">Search</a>
                    </li>
                    <li>
                        <a href="travelscreen.html">Travel</a>
                    </li>
                    <li>
                        <a href="achievementsscreen.html">Achievements</a>
                    </li>
                    <li>
                        <a href="sign_up.html">Join us</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

<script src="../js/appnamecolour.js"></script>
    
</body>
</html>