<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/style.css">
      <title>Culture Desktop Application</title>
  </head>

  <body>

        <div id="logo">
          <img id="culture" src="../Images/Culture.jpg" />
          <h1>Sign Up</h1>
        </div>

        <div class="container">
          <form>
            <label for="uname"><b>Name</b></label>
            <input type="text" id ="signupusername" placeholder="Type your name" name="uname" required>
            <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Type your email" name="uname" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Type your password" name="psw" required>
            <label for="psw"><b>Confirm password</b></label>
            <input type="password" placeholder="Confirm yourpassword" name="psw" required>
            <a href="homescreen.html" id="goindex">Sign in</a>
         </form>
      </div>

    <div>
      <p>
        <label>Already has an account?</label>
      </p>
      <p>
        <a href="../index.html">Cancel</a>
      </p>
    </div>

    <script src="../js/signup.js"></script>

  </body>
</html>
